/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End reset css */

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 24px;
}

p {
	margin: 10px;
}

.page-content {
  margin: 0px;
  padding: 0px;
}

.header {
  background-color: #E5E5E5;
  padding: 20px;
  font-size: 3em;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: grey;


}

.btn {
  background-color: #F6B26B;
  border-color: #CC8C49;
}

.btn:hover {
  background-color: #CC8C49;
  border-color: #99632B;
}

#home-description {
  margin: 40px;
}

#find-dish {
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#sideBarView {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: 100%;
  padding: 0px;
/*  margin-bottom: 0%;
  padding-bottom: 100%;*/
}

@media screen and (max-width:600px){
  #sideBarView {
    height: 50%;
  }
}

#sidebar-header {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em;
}

#sidebar-guests {
  margin: 1em;
}

#number-input {
  width: 50px;
}

#sidebar-mid-section {
  background-color: #E5E5E5;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border-width: 1.5px 0px;
  border-style: solid;
  border-color: black;
}
#sidebar-dish-name {
  width: 50%;
  padding-left: 0.5em;
}

#sidebar-cost {
  width: 50%;
  padding-right: 0.5em;
}

#sidebar-total-price {
  padding: 0.5em;
}

.sidebar-dish {
  margin: 0.5em;
  padding: 0.4em;
  border-width: 1.5px;
  border-style: solid;
  border-color: black;
  background-color: #E5E5E5;

}

.sidebar-dish-cost {
  float: right;
}

#sidebar-button {
  float: center;
  margin: 1em;
}

#dishSearchView {
  width: 100%;
	padding: 0px;
	margin-left: 0px;
}

#find-dish {
  font-size: 2em;
  padding: 0.5em;
}

#search-bar {
	padding: 0px;
	border-width: 2px;
  border-bottom-style: solid;
  border-color: black;
}

#dishItems {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	display: flex;
}

.dish {
	margin: 10px;
}

#search-bar {
  height: 50px;
}

#search-bar input, button {
  margin: 0.5em;
}

.details-row {
  width: 100%;
}

#details-dish {
  padding: 10px;
  /* width: 50%; */
}
#details-image {
  height: auto;
  display: block;
  margin: 0.5em;
}

#details-dish-name {
  font-size: 3em;
  margin-bottom: 0.5em;
  width: 100%;
  float: left;
}

.details-header {
  font-size: 3em;
  margin-bottom: 0.5em;
  width: 100%;
  float: left;
}
#details-description {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em;
}

#details-ingredients {
  border-width: 2px;
  background-color: #FFE599;
  border-style: solid;
  border-color: black;
  padding: 0.7em;
  /* width: 50%; */
}

@media screen and (min-width:800px){
  #details-ingredients, #details-dish {
    width: 50%;
  }
}

@media screen and (max-width:800px){
  #details-ingredients, #details-dish {
    width: 100%;
  }
}

#details-ingredients > h3 {
  font-size: 2em;
}

#details-ingredients > ul {
  margin: 1em;
}

#details-ingredients li {
  margin: 1em;
}

#details-total-price {
  display: inline;
  float: right;
}

#details-add-button {
  float: left;
}

#go-back-to-searchBtn {
  margin: 0.5em;
}

#details-preparation-row {
  width: 100%;
  height: auto;
  padding: 0.5em;
}
.row {
  height: 100%;
  margin: auto;
}
.page-content {
  /*margin-left: 0px;
  margin-right: 0px;*/
  padding: 0px;
  height: 100%;
  width: 100%;
}

/* DetailsView */
#details-container {
	margin: 0px;
	padding-right: 0px;
}


/* Overview */
#overview-container {
  padding: 0px;
}

#my-dinner-go-back {
  padding-top: 10px;
	padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
	display: flex;
  width: 100%;
}


#my-dinner-go-back > h2 {
  font-size: 1.7em;
  padding: 10px;
}

#my-dinner-overview {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

}

@media screen and (min-width:600px){
  #my-dinner-overview {
    display: flex;
    justify-content: center;
  }
}

#price-div {
  margin: 15px;
  padding: 10px;
  font-size: 1.1em;
}

#go-back-btn {
	margin-left: 20px;
}

.back-button {
  float: right;
  text-align: right;
}

.dish {
  margin: 15px;
  padding: 10px;
}

#toPrintBtn {
}

#printout-container {
  padding: 0px;
}

.dish-row {
  margin-top: 30px;
  margin-bottom: 30px;
}

.print-image {
  /* width: auto; */
  margin: 10px;
  padding: 10px;
}

.value-num-guests {

}
.value-main-course-name {
	font-size: 0.8em;
  width: 40%;
  padding: 10px;

}

.print-preparation {
  width: 40%;
  padding: 10px;
}

@media screen and (max-width:800px){
  .value-main-course-name, .print-preparation {
    width: 100%;
  }
}

.value-total-price {

}
.container {
  padding: 0px;
  margin: 0px;
}


img {
	width: 180px;
	height: 150px;
}

#printout-container > ul, ol, p{
  font-size: 1em;
}
