/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End reset css */

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

h1 {
	font-size: 38px;
}

p {
	margin: 10px;
}

#find-dish {
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.header {
  background-color: #E5E5E5;
  padding: 20px;
  font-size: 3em;
  font-weight: bold;
}
#sideBarView {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  height: 100%;
  padding: 0px;
/*  margin-bottom: 0%;
  padding-bottom: 100%;*/
}

#sidebar-header {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em;
}

#sidebar-guests {
  margin: 0.5em;
}

#number-input {
  width: 50px;
}

#sidebar-mid-section {
  background-color: #E5E5E5;
  height: 30px;
  padding: 0px;
  margin: 0px;
}
#sidebar-dish-name {
  width: 50%;
  padding-left: 0.5em;
}

#sidebar-cost {
  width: 50%;
  padding-right: 0.5em;
}

#sidebar-total-price {
  padding: 0.5em;
}

#sidebar-button {
  float: center;
}

#dishSearchView {
  width: 100%;
	border-width: 2px;
  border-style: solid;
  border-color: black;
	padding: 0px;
	margin-left: 0px;

}

#search-bar {
	padding: 0px;
	border-width: 2px;
  border-style: solid;
  border-color: black;
}

#dishItems {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	display: flex;
}

.dish {
	margin: 10px;
}

#search-bar {
  height: 50px;
}

.details-row {
  width: 100%;
}

#details-dish {
  padding: 10px;
}
#details-image {
  height: auto;
  display: block;
  margin: 0.5em;
}

#details-dish-name {
  font-size: 3em;
  margin-bottom: 0.5em;
  width: 100%;
  float: left;
}

.details-header {
  font-size: 3em;
  margin-bottom: 0.5em;
  width: 100%;
  float: left;
}
#details-description {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em;
}

#details-ingredients {
  border-width: 2px;
  background-color: orange;
  border-style: solid;
  border-color: black;
  padding: 0.7em;
}

#details-ingredients > h3 {
  font-size: 2em;
}

#details-ingredients > ul {
  margin: 1em;
}

#details-ingredients li {
  margin: 1em;
}

#details-total-price {
  display: inline;
  float: right;
}

#details-add-button {
  float: left;
}

#go-back-to-searchBtn {
  margin: 0.5em;
}

#details-preparation-row {
  width: 100%;
  height: auto;
  padding: 0.5em;
}
.row {
  height: 100%;
  margin: auto;
}
.page-content {
  /*margin-left: 0px;
  margin-right: 0px;*/
  padding: 0px;
  height: 100%;
  width: 100%;
}

/* DetailsView */
#details-container {
	margin: 0px;
	padding-right: 0px;
}

/* Overview */
#my-dinner-go-back {
  padding-top: 10px;
	padding-bottom: 10px;

	display: flex;
}

#my-dinner-overview {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
}
#go-back-btn {
	margin-left: 20px;
}

#toPrintBtn {

}
.value-num-guests {

}
.value-main-course-name {
	font-size: 0.8em;

}
.value-total-price {

}

img {
	width: 120px;
	height: 100px;
}
